<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="cover">
                <img class="backImg" src="{{ url_for('static', filename='img/login_background.jpg') }}" alt="">
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Đăng nhập</div>
                    <form action="#">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nhập tên tài khoản" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Nhập mật khẩu" required>
                            </div>
                            <div class="text"><a href="#">Quên mật khẩu ?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Đăng nhập">
                            </div>
                            <div class="text sign-up-text">Bạn chưa có tài khoản ? <a href="/registration">Đăng ký ngay</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>